
<p>
  <strong>Email:</strong>
  <%= @code_reminder.email %>
</p>

<p>
  <strong>Cadence:</strong>
  <%= @code_reminder.cadence %>
</p>

<p>
  <strong>Cadence unit:</strong>
  <%= @code_reminder.cadence_unit %>
</p>

<%= link_to 'Edit', edit_code_reminder_path(@code_reminder) %> |
<%= link_to 'Back', code_reminders_path %>
