<h3>
  Question Link: <a href= <%= @question_link %> ><%= @question_link %></a>
</h3>

<h3>
  Language: <%= @language %>
</h3>

<h4>
  To edit or delete your code reminder click here => <a href=<%= @edit_code_reminder_link %>><%= @edit_code_reminder_link%></a> 
</h4>
