
<% content_for :title do %>
  <%= @article.title %>
<% end %>

<div style="margin: 20px auto; max-width:768px;">

<h2>
    <%= @article.title %>
</h2>

<div style="word-wrap: break-word;">
    <%= @article.content %>
</div>


<h2> Comments </h2>
<% @article.comments.each do |comment| %>
  <%= render comment %>
<% end %>

<div style="margin-bottom:25px;">
<h2> Add a comment: </h2>
<%= render "public/comments/form" %>
</div>

</div>
