<p id="notice"><%= notice %></p>

<h1>Internal Linkedin Schedulers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internal_linkedin_schedulers.each do |internal_linkedin_scheduler| %>
      <tr>
        <td><%= link_to 'Show', internal_linkedin_scheduler %> <%= internal_linkedin_scheduler.article.title %></td>
        <td><%= link_to 'Edit', edit_internal_linkedin_scheduler_path(internal_linkedin_scheduler) %></td>
        <td><%= link_to 'Destroy', internal_linkedin_scheduler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internal Linkedin Scheduler', new_internal_linkedin_scheduler_path %>
