<% content_for :title do %>
  Resume
<% end %>

<h2>Resume</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div style="background-color: white; margin: 15px 0px;">
    Public API's for resume &#128521;<br>
    <strong><%= root_url %>api/v1/experiences</strong> : Get entire resume<br>
    <strong><%= root_url %>api/v1/experiences/:id</strong> : Get details about a particular item on my resume
  </div>
  <tbody>
    <% @experiences.each do |experience| %>
      <tr>
        <strong><%= experience.organization %></strong>
        <p><%= experience.title %></p>
        <p><%= experience.started_at %> - <%= experience.ended_at %></p>
        <p><%= link_to "Details", experience %></p>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
